#contenido{
  /*border-top: 4px;*/
  background-color: #FF000;
  border-style: solid;
  border-color: #F0000;
  /*display:inline-block;*/
 /* margin: 0 auto;*/
}
#divbutton{
  /*align-self: center;
  margin: 10px;
  margin-left: 70px;
  margin-right: 300px;
  border-style: solid;
  border-color: #F0000;
  border-width: 5px;*/
  background-color: #FF000;
  border-width: 5px;
 /* margin: 10px;*/
}

#tabla{

 height: 200px;
        width: 100%;

}
#selector{
  width="1300";
  height="500px;
}
#contenido{
 width="1300";
  height="500px;
}
#b1{
        font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#000000;
        border:0px;
        width:80px;
        height:25px;
       }
